<!DOCTYPE html>

<html>

<%- include('./partials/head.ejs') %>


    <body>
        <header>
            <%- include('./partials/nav.ejs') %>
        </header>



        <main>
            <div class="container" style="padding-top: 50px;">
                <center>
                    <h1><i class="material-icons prefix large">sentiment_very_dissatisfied</i></h1>
                    <h1 class="card-panel center-align">ERROR 404!</h1>
                    <h3>Your requested page is not available.</h3>
                </center>




            </div>


        </main>




        <!-- Footer -->


        <footer>
            <%- include( "./partials/footer.ejs") %>

        </footer>

    </body>

</html>