<footer id="footer">
    <div id = "layout-footer">
        <p>
            &#169; 1Pass
        </p>
    

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a class = "bottom-link" href="/">Home</a>
                </li>
                <li>
                    <a class = "bottom-link" href="/profile">Profile</a>
                </li>
                <li>
                    <a class = "bottom-link" href="/addnew">Add new Password</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</footer>