<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    1pass
                </a>
            </p>
        </div>
    
        <div class="auth-links">
            
            </ul>
        </div>
    </nav>
 


</header>