<div class="container">
    <h2>Genrate Passowrd</h2>
    <div id="form-container">
        <h2 id="password-display">password</h2>


        <form action="/genrate" method="post" id="newpassword">
            <label for="length">Length of Passowrd</label>
            <input type="number" name="length" id="length" max="50" min="8" value="10">


            <label for="includeUppercase"> Include Upper Case</label>
            <input type="checkbox" name="includeUppercase" id="includeUppercase" class="circular">
            <label for="includenyumber">Include Number</label>
            <input type="checkbox" name="includenumber" id="includenumber" class="circular">
            <label for="includeSpecial">Include Special</label>
            <input type="checkbox" name="includeSpecial" id="includeSpecial" class="circular">
            <input type="submit" value="Genrate" id="generateButton" class="btn">

        </form>

        <form action="/create" method="post" id="final-form">
            <label for="socialhandel">Choose a Account type :</label>
            <div class="custom-select">
                <select id="socialhandel" name="socialhandel">
                    <option value="not-defined">Select account</option>
                    <option value="facebook">facebook</option>
                    <option value="instagram">instagram</option>
                    <option value="google">google</option>
                    <option value="linkedin">linkedin</option>
                    <option value="twitter">twitter</option>
                    <option value="Snapchat">Snapchat</option>
                    <option value="other">Others</option>
                </select>
            </div>
            <input type="hidden" name="passwordtext" id="realpassword">

            <input type="submit" value="Save" class="btn">
        </form>




    </div>
    <h2>Save Pre-existing Passowrd</h2>
    <div id="form-container">
       


       

        <form action="/create" method="post" id="final-form">
            <label for="socialhandel">Choose a Account type :</label>
            <div class="custom-select">
                <select id="socialhandel" name="socialhandel">
                    <option value="not-defined">Select account</option>
                    <option value="facebook">facebook</option>
                    <option value="instagram">instagram</option>
                    <option value="google">google</option>
                    <option value="linkedin">linkedin</option>
                    <option value="twitter">twitter</option>
                    <option value="Snapchat">Snapchat</option>
                    <option value="other">Others</option>
                </select>
            </div>
            <label for="passwordtext">Password</label>
            <input type="text" name="passwordtext" id="realpassword" class = "createpassword">

            <input type="submit" value="Save" class="btn">
        </form>



    
    </div>

</div>