
<div class="container">
    <div id="form-container">
       <h2 class = "signup-header">Signup</h2>
    
        <form action="/createuser" method="post" id = "newuser">
            <label for="name">Name </label>
        <input type="text" name="name" id="name" class = "signupinput" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class = "signupinput" required>
        <label for="password">password</label>
        <input type="password" name="password" id="password" class = "signupinput" required>
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" class = "signupinput" required>
        <input type="submit" value="Signup" class = "btn">
        
        </form>

        <a class = "create" href="/sign-in">Already have a account</a>
        
    
      
        
        
    
    </div>
    <p class = "error"> <%= errortext%><p></p>
    </div>