<link rel="stylesheet" href="/css/homestyle.css">
<body>
<div class="bodybackground">
<div class="formstyle">
    <img src="/image/img.svg"/ class="img">
    <p class="text">IMAGE TO TEXT</p>
<form>
    <input required type ="text" name = "url" placeholder="Enter the image url" >
    <input type = "submit" value ="submit" formaction="/imgprocess" formmethod="POST">
</form>
<p class="or">or</p>
<form>
<input type = "submit" value ="upload" formaction="/upload" formmethod="GET">
</form>
<footer>Copyright © Swapnil Rawat</footer>
</div>
</div>
</body>