<footer class="page-footer deep-purple " style="bottom: 0;">
    <center>
        <div class="footer-copyright">
            <div class="container">
                © 2021 Syed Mustafa Imam

            </div>
        </div>
    </center>
</footer>