@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#cont{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#grid{
    margin-top:3vh;
    margin-left: 10vw;
    height: 80vh;
    width: 80vw;
    background-image: url('board2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#user{
    position: absolute;
    top:73vh;
    left:9.5vw;
    height: 7vh;
    width: 6vw;
    background-image: url('user.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#comp{
    position: absolute;
    top:76vh;
    left:12.5vw;
    height: 7vh;
    width: 6vw;
    background-image: url('comp2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.animate{
    transition-duration: 1.5s;
}

#status{
    height: 12vh;
    width: 80vw;
    margin:auto;
    display: flex;
    align-items: center;
    
}
#role{
    width: 12vw;
    height: 6vh;
    cursor: pointer;
    text-align: center;
    font-size: 2vmin;
    border:0.5vmin solid black;
    margin-left: 5vw;
    font-family: 'Acme', sans-serif;
    border-radius: 2vmin;
    transition-duration: 0.4s;
}
#replay{
    width: 12vw;
    height: 6vh;
    cursor: pointer;
    text-align: center;
    font-size: 2vmin;
    border:0.5vmin solid black;
    margin-left: 5vw;
    font-family: 'Acme', sans-serif;
    border-radius: 2vmin;
    transition-duration: 0.4s;
}
#close{
    width: 12vw;
    height: 6vh;
    cursor: pointer;
    text-align: center;
    font-size: 2vmin;
    border:0.5vmin solid black;
    margin-left: 5vw;
    font-family: 'Acme', sans-serif;
    border-radius: 2vmin;
    transition-duration: 0.4s;
}
#role:hover,#replay:hover,#close:hover{
    transform: scale(1.1);
}
#dice{
    height: 10vh;
    width: 15vw;
    background-image: url('start3.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#info{
    margin-left: 5vw;
    height: 10vh;
    width: 20vw;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 3vmin;
    font-family: 'Zilla Slab', serif;
    font-weight: 900;

}
#Menu{
    position: absolute;
    height: 50vh;
    width: 70vw;
    top:25vh;
    left: 15vw;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fdb644;
    font-size: 5vmin;
    

}
#Menu p:nth-child(1)
{
    font-size: 7vmin;
}
#Menu button{
    color: #fdb644;
    font-size: 5vmin;
    background-color: transparent;
    border: 0;
}
#Menu button:hover{
    border-radius: 2vmin;
    border: 0.5vmin solid #fdb644;
    background-color: #6d3d33;
    
}
#Menu img{
    height: 7vmin;
    width: 7vmin;
    vertical-align: text-bottom;
}